$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background: #f8fbf2;
$grey: #69666b;
$gold: #ecbe49;
$peach: #ed9375;
$purple: #20162f;
$black: #000;

body {
  background-color: $background;
  font-family: 'trebuchet ms', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.user-info {
  background-color: $gold;
  margin: auto;
  width: 300px;


  .auth-header {
    color: $grey;
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
  }

  .auth-input {
    display: block;
    font-size: 18px;
    margin: 5px auto;
    padding-left: 5px;
    width: 250px;
  }

  fieldset {
    margin: 20px 0;
  }

  .auth-button {
    background-color: $grey;
    color: $background;
    margin-bottom: 20px;
  }
}

.auth-msg-box {
  color: $peach;
  font-size: 20px;
}

.change-pswd {

  input {
    font-size: 18px;
    margin: 2px 5px;
    padding-left: 5px;
  }
}

.get-games {
  font-size: 18px;
  margin: 5px 0;
}

.stats-box {
  font-size: 18px;
}

.create-game {
  font-size: 18px;
  margin: 5px 0;
}

.message-box {
  font-size: 30px;
}

.game-board {
  margin-bottom: 30px;
}

.sign-out {
  clear: both;
  font-size: 18px;
}

.box {
  background-color: $peach;
  border: 5px solid $background;
  box-sizing: border-box;
  color: $purple;
  font-size: 80px;
  height: 200px;
  padding-top: 40px;
  text-align: center;
}

.update-msg {
  clear: both;
}
