$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$light-beige: #f0edeb;
$black: #000;
$color: #999290;


.box {
  border: 1px solid $black;
  font-family: 'trebuchet ms';
  font-size: 30px;
  height: 50px;
  text-align: center;
}

body {
  background-color: $light-beige;
}

form {
  // #sign-in #sign-up {
  background-color: $color;
  }
// }.sign-in .sign-up {
//   background-color: #999290
// }
