$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.box {
  border: 1px solid #000000;
  font-family: 'trebuchet ms';
  font-size: 30px;
  height: 50px;
  text-align: center;
}
